/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
@font-face {
  font-family: 'Overpass';
  font-style: normal;
  font-weight: 100;
  src: local('Overpass Thin'), local('Overpass-Thin'), url(https://fonts.gstatic.com/s/overpass/v3/qFdB35WCmI96Ajtm81nGY9nqwg.ttf) format('truetype');
}
@font-face {
  font-family: 'Overpass';
  font-style: normal;
  font-weight: 400;
  src: local('Overpass Regular'), local('Overpass-Regular'), url(https://fonts.gstatic.com/s/overpass/v3/qFdH35WCmI96Ajtm81GlU94.ttf) format('truetype');
}
@font-face {
  font-family: 'Overpass';
  font-style: normal;
  font-weight: 600;
  src: local('Overpass SemiBold'), local('Overpass-SemiBold'), url(https://fonts.gstatic.com/s/overpass/v3/qFdA35WCmI96Ajtm81l6d87N4h8.ttf) format('truetype');
}
.main-container {
  margin: 1%;
  width: 90%;
}
.main-container .header {
  display: flex;
  justify-content: center;
  font-size: 3rem;
}
.main-container .header .div-header {
  border: 0.4rem solid transparent;
  border-image: linear-gradient(45deg, #ff9ff3, #B4D2E7, #9f4580);
  border-image-slice: 1;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 10rem;
  padding-right: 10rem;
}
@media (max-width: 500px) {
  .main-container .header .div-header {
    border: 0px;
  }
}
.main-container .header h1 {
  font-family: 'overpass', sanserif;
}
.main-container .nav {
  display: flex;
  justify-content: center;
}
.main-container a {
  font-family: 'overpass', sanserif;
  margin-top: 1%;
  font-size: 0.85rem;
  display: flex;
  margin-right: 1%;
  color: black;
}
@media (max-width: 500px) {
  .main-container a {
    visibility: hidden;
  }
}
.main-container .avi {
  display: flex;
  justify-content: center;
}
.main-container .avi img {
  margin-top: 2%;
  margin-bottom: 2%;
  border-radius: 50%;
  width: 20%;
  height: 20%;
}
.main-container .left-right {
  max-width: 100%;
  display: flex;
  justify-content: center;
}
.main-container .left {
  margin-right: 1%;
  height: 80%;
  max-width: 40%;
  padding-right: 5%;
  border-right: 5px;
  border-style: solid;
  border-image: linear-gradient(to bottom, #0abde3, rgba(0, 171, 222, 0.1)) 1 100%;
}
@media (max-width: 500px) {
  .main-container .left {
    border: 0px;
  }
}
.main-container .left h2 {
  font-family: 'overpass', sanserif;
  font-size: 2rem;
  margin-bottom: 4%;
}
.main-container .left h3 {
  font-size: 1.5rem;
}
.main-container .left p {
  font-size: 1.5rem;
}
.main-container .left .intro {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 5%;
}
.main-container .left .intro h2 {
  max-width: 500px;
}
.main-container .left .intro p {
  max-width: 500px;
}
.main-container .left .exp {
  margin-top: 3%;
  display: flex;
  justify-content: flex-end;
}
.main-container .left .pos-1 {
  margin-top: 10%;
  margin-bottom: 1.5%;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 5%;
}
.main-container .left .pos-1 h2 {
  max-width: 500px;
}
.main-container .left .pos-1 p {
  max-width: 500px;
}
.main-container .left .dates {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 5%;
  margin-bottom: 2%;
  color: grey;
  font-size: 0.85rem;
}
.main-container .left .dates h2 {
  max-width: 500px;
}
.main-container .left .dates p {
  max-width: 500px;
}
.main-container .right {
  height: 80%;
  width: 40%;
}
.main-container .right .skills {
  margin-bottom: 4%;
  font-size: 2rem;
}
.main-container .right .progress {
  margin-top: 1%;
  margin-bottom: 1%;
  width: 5rem;
  height: 0.5rem;
}
.main-container .right .skill-group {
  display: flex;
  flex-wrap: wrap;
  width: auto;
}
.main-container .right .skill-group .progress {
  margin-right: 10%;
}
.main-container .right .ed {
  margin-top: 5%;
  margin-bottom: 5%;
  font-size: 2rem;
}
.main-container .right .education p {
  font-size: 1.5rem;
}
.main-container .right .small {
  margin-top: 1%;
  margin-bottom: 3%;
  font-size: 1rem;
}
.main-container .right .ref h2 {
  font-size: 2rem;
}
.main-container .right .ref h4 {
  font-size: 1.5rem;
  margin-top: 3%;
  margin-bottom: 1%;
}
.main-container .right .ref p {
  font-size: 0.5rem;
}
.main-container .right .ref .bot-p {
  margin-top: 4%;
}
footer {
  display: block;
  margin-left: 40%;
  font-size: 1rem;
}
